.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: auto;

    thead tr {
        background-color: #2b2f55;
        color: #ffffff;
        text-align: left;
        border-radius: 5px;
    }

    tr {
        border-bottom: 1px white solid;
    }

    th,
    td {
        padding: 12px 15px;
        color: white;
    }
    .svg {
        margin-top: 10px;
    }
}
